@charset "UTF-8";
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-shim {
    visibility: hidden;
}

.ng-anchor {
    position: absolute;
}

@import "vars";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/flamework/flamework";
@import "scss/content";
#WatchFace {
    position: absolute;
    width: 218px;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -112px;
    pointer-events: none;
    #bigSecondHand,
    #bigMinuteHand,
    #bigHourHand {
        position: relative;
        z-index: 11;
        transform-origin: center 105px;
    }
}