html,
body {
    height: 100%;
    background-color: #111;
    position: relative;
}

pre {
    padding: 1rem;
    background-color: #e0e0e0;
    color: #333;
    position: relative;
    font-size: .7rem;
    code {
        line-height: 1.4;
        padding: 1rem;
    }
}

main {
    height: 100%;
    position: relative;
    section {
        height: 100%;
    }
}

aside {
    background-color: #252525;
    width: 450pt;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    padding-top: 1rem;
    ul {
        width: 100%;
    }
    >div {
        justify-content: center;
        align-items: stretch;
        opacity: 1;
        position: absolute;
        margin-top: 6rem;
        width: 100%;
        &.ng-animate {
            transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
        }
        &.ng-leave {
            opacity: 1;
        }
        &.ng-leave-active {
            opacity: 0;
        }
        &.ng-enter {
            // background-color: rebeccapurple;
            opacity: 0;
        }
        &.ng-enter-active {
            // background-color: red;
            opacity: 1;
        }
        button {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img {
                margin-left: 10px;
                display: flex;
            }
        }
    }
}

#view {
    position: relative;
    background-color: #151515;
    border: 1pt solid #202020;
    border-radius: $radius;
    width: 100%;
    height: 100%;
    img {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.list {
    li {
        color: $white5;
        border: 1pt solid #555555;
        position: relative;
        padding: 6pt;
        border-radius: none;
        text-align: center;
        cursor: pointer;
        &:hover {
            color: $white7;
        }
        &:first-of-type {
            border-radius: $radius 0 0 $radius;
        }
        &:last-of-type {
            border-radius: 0 $radius $radius 0;
        }
        small {
            width: 100%;
            font-size: 80%;
        }
    }
    svg {
        margin: 6pt;
        display: block;
        cursor: pointer;
        margin-bottom: 3pt;
        width: 24pt;
    }
}

button[data-watch] {
    border: 1pt solid #555555;
    border-radius: $radius;
    color: $white5;
    font-size: 80%;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem;
    margin: .5rem .25rem;
    outline: none;
    &:hover {
        background-color: $white;
    }
    img {
        width: 64pt;
    }
}

nav {
    position: absolute;
    height: 64pt;
    background-color: #fafafa;
    width: 100%;
    bottom: 0;
    padding: 12pt 28pt;
}

.button {
    border: none;
    border-radius: $radius;
    font-weight: bold;
    padding: 6pt 24pt;
    &.share {
        border: 1pt solid #00a3fa;
        color: #00a3fa;
        background-color: transparent;
    }
    &.buy {
        background-color: #00a3fa;
        color: white;
    }
}