html,
body {
    height: 100%;
    background-color: #111;
    position: relative;
}

pre {
    padding: 1rem;
    background-color: #e0e0e0;
    color: #333;
    position: relative;
    font-size: .7rem;
    code {
        line-height: 1.4;
        padding: 1rem;
    }
}

#view {
    position: relative;
    background-color: #151515;
    border: 1pt solid #202020;
    border-radius: $radius;
    width: 100%;
    height: 600px;
    img {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.list {
    li {
        color: $white5;
        border: 1pt solid #555555;
        position: relative;
        padding: 6pt;
        border-radius: none;
        text-align: center;
        cursor: pointer;
        &:hover {
            color: $white7;
        }
        &:first-of-type {
            border-radius: $radius 0 0 $radius;
        }
        &:last-of-type {
            border-radius: 0 $radius $radius 0;
        }
        small {
            width: 100%;
            font-size: 80%;
        }
    }
    svg {
        margin: 6pt;
        display: block;
        cursor: pointer;
        margin-bottom: 3pt;
        width: 24pt;
    }
}

button[data-watch] {
    border: 1pt solid #555555;
    border-radius: $radius;
    color: $white5;
    font-size: 80%;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem;
    margin: .5rem .25rem;
    outline: none;
    &:hover {
        background-color: $white;
    }
    img {
        width: 64pt;
    }
}